.filename {
  color: #004010;
}
.function {
  color: #000080;
}
.programlisting {
  color: #101010;
}


/*****************************Styles currently in use - Start**************************/

/*Below are the styles for Headings*/
/**************************************************/
h1 /* Heading 1 */
{ color:#000000;  
  font-size:18pt; 
  line-height:1.3em; 
  font-weight:normal; 
  font-style:normal; 
  font-family:arial, sans-serif;  }
li.kadov-h1
{ color:#cc0000;
  line-height:1.3em;  
  font-size:18pt; 
  font-weight:normal; 
  font-style:normal; 
  font-family:arial, sans-serif;  }
 
h2 /*Heading 2*/ 
{ color:#000080; 
  line-height:1.3em; 
  font-size:12pt; 
  font-weight:bold; 
  font-style:normal; 
  font-family:arial, sans-serif; }
  
li.kadov-h2 
{ color:#000080; 
  line-height:1.3em;  
  font-size:14pt; 
  font-weight:bold; 
  font-style:normal; 
  font-family:arial, sans-serif;  }
  
h3 /*Heading 3*/
{ color:#800000; 
  font-family:arial, sans-serif; 
  margin-bottom:0.2em; 
  font-size:11pt;  }
  
li.kadov-h3
{ color:#000080; 
  font-family:arial,sans-serif; 
  font-size:11pt;  }
    
h4 /*Heading 4*/
{ color:#0176b9; 
  margin:10px; 
  font-family:arial, sans-serif; 
  font-size:11pt; 
  margin-bottom:0.2em;  }
li.kadov-h4
{ color:#0176b9; 
  font-family:arial, sans-serif; 
  font-size:11pt;  }
  
h5 /*Heading 5*/
{ font-family:Arial;
  font-size:9pt;
  color:Black;
  font-weight:bold;}
  /***************************************************/
  
  /*Style for Functions*/ 
  .Function 
  {font-family:Courier New;
   font-size:12pt;
   color:Blue;
   font-weight:bold}
   /*************************/
   
   /*Normal style for text*/
   p 
   { margin:10px;
  font-family:Arial; 
  font-size:10pt;  }
  /*************************/
  
  /*Style for lists*/
  li.kadov-p { font-size:10pt;  }
  /*************************/
  
  /*Style for code listings*/
  .tp_code
  { font-family:"courier new" , monospace;
    font-size:10pt; }
    
    /**************************/
    
  /*Styles for hyperlinks */
  a { x-text-underline:normal; text-decoration:underline;  }
    a:link { color:#000080;  }
    a:active { color:#cc0000;  }
    a:visited { color:#0176b9;  }
    a:hover { color:#cc0000;  }
    /***************************/
     
    /*******************Styles currently in use - End********************************/

.tp_command { font-weight:bold;  }
li.kadov-ctp_command { font-weight:bold;  }
.tp_code { font-family:"courier new" , monospace;  }
span.tp_code { font-family:"courier new" , monospace;  }


li.kadov-ctp_fcode { font-family:"courier new" , monospace;  }
span.tp_file { letter-spacing:0.1em; color:#990000;  }
.tp_input { font-weight:bold;  }
li.kadov-ctp_finput { font-weight:bold;  }
.tp_ui { color:#000080;  }
li.kadov-ctp_ui { color:#000080;  }
.tp_var { font-style:italic;  }
li.kadov-ctp_var { font-style:italic;  }
.tp_footer { font-size:0.75em; text-align:center; padding:50px; background:#ffffff url("images/ati_watermark.gif")  no-repeat center;  }
li.kadov-ctp_footer { font-size:0.75em; text-align:center;  }
ol.nested { list-style-type:lower-alpha;  }
div.tp_note { background-color:#c0c0c0; margin:20px 0px; padding:10px; border:1px #000000 solid;  }
span.tp_note { vertical-align:50%; font-weight:bold;  }
span.tp_menuarrow { font-family:webdings; color:#000080;  }
div.tp_body { width:6in; padding:25px; border:thin #c0c0c0 solid;  }
div.tp_fig { text-align:center; padding:10px; font-weight:bold;  }
img.tp_fig { margin:20px 0px; padding:10px;  }
body { line-height:1.3em; font-family:arial, sans-serif; font-size:0.8em; background-color:#ffffff; padding:50px; width:75%;  }
 
table { border-collapse:collapse; margin:5px; font-family:arial,"ms sans serif" , sans-serif; font-size:10pt;  }
thead { text-align:left; background-color:#0176b9; font-weight:bold; color:#ffffff;  }
th { border:1px #000000 solid; padding:1px;  }
td { border:1px #000000 solid; padding:1px;  }
caption { color:#cc0000; font-family:arial, sans-serif; font-size:12pt; font-weight:bold; margin-bottom:0.2em;  }
li { margin-bottom:.25em;  }
ul { list-style-type:square;  }

p.preformatted-tp_code { line-height:normal; margin-bottom:14pt; margin-top:14pt; x-text-tab-stops:repeat 1in; white-space:nowrap; font-size:smaller; border:1px #000000 solid; padding:10px; margin:20px 0px; background-color:#c0c0c0; font-family:"courier new" , monospace;  }
li.kadov-p-cpreformatted-tp_code { line-height:normal; x-text-tab-stops:repeat 1in; white-space:nowrap; font-size:smaller; font-family:"courier new" , monospace;  }
h1.section { color:#cc0000; font-family:"agency fb" , arial, sans-serif; font-weight:normal; font-size:20pt; line-height:1.3em; letter-spacing:.25em;  }
li.kadov-h1-csection { color:#cc0000; font-family:"agency fb" , arial, sans-serif; font-weight:normal; font-size:20pt; line-height:1.3em; letter-spacing:.25em;  }
p.normalnotoc { margin:10px; font-size:11pt;  }
li.kadov-p-cnormalnotoc { font-size:11pt;  }

PRE.Indent-Tight {
  display: block;
  text-align: left;
  text-indent: 0.000000pt;
  margin-top: 0.000000pt;
  margin-bottom: 0.000000pt;
  margin-right: 0.000000pt;
  margin-left: 47.519989pt;
  font-size: 11.000000pt;
  font-weight: medium;
  font-style: Regular;
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  text-transform: none;
  font-family: "Times New Roman";
}

P.Body-Tight {
  display: block;
  text-align: justify;
  text-indent: 0.000000pt;
  margin-top: 0.000000pt;
  margin-bottom: 0.000000pt;
  margin-right: 0.000000pt;
  margin-left: 23.759995pt;
  font-size: 11.000000pt;
  font-weight: medium;
  font-style: Regular;
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  text-transform: none;
  font-family: "Times New Roman";
}

P.Indent {
  display: block;
  text-align: left;
  text-indent: 0.000000pt;
  margin-top: 0.000000pt;
  margin-bottom: 13.000000pt;
  margin-right: 0.000000pt;
  margin-left: 47.519989pt;
  font-size: 11.000000pt;
  font-weight: medium;
  font-style: Regular;
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  text-transform: none;
  font-family: "Courier New";
}


EM.Code {
  font-size: 11.000000pt;
  font-weight: medium;
  font-style: Regular;
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  text-transform: none;
  font-family: "Courier New";
}
